	<section id="company-blog" class="col-lg-6 columna">
			<div class="closeBoton"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
			<h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</h3>
			<div class="borderBox">
					<div class="row">
						{% include ('templates/shortcodes/resume.twig')  %}
					</div>
					<div class="row">
						<div class="col-lg-12 right">
							<a href="">Todas las noticias</a>
						</div>
					</div>
			</div>
	</section>
