    {{function('wp_footer')}}
    {{function('employees_functions')}}
    <div id="push_notification" class="alert right lvl01">
			   <div class="closeBoton"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
		    <div class="notification_content"></div>
		</div>
    <div class="modal fade modal-sm" tabindex="-1" role="dialog" aria-labelledby="small-modal">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          test
        </div>
      </div>
    </div>
  </body>
</html>
