{% extends "templates/base.twig" %}

{% block content %}
	<div id="contentHome" class="content">
		<div class="row">
				<div class="col-lg-10">
					<div class="row">
						{% include 'templates/blocks/blog.twig' %}
					</div>
				</div>
		</div>
	</div>
{% endblock %}
